.agents-container {
    padding: 20px;
    background-color:floralwhite;
    justify-content: center;
  }
  
  .agents-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .agents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
.heading1 {
  text-align: center;
  color:darkblue;
}