.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 230px;
    margin: 8px;
    height:350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    background-image:url("https://i.pinimg.com/564x/af/d9/f9/afd9f955e14fcb1ab5a048053e1b4888.jpg");
  }
  
  .card-text {
    padding: 10px;
    font-size: 16px;
    color: #333;
    
  }
  
.button-card {
  background-color: rgb(0, 217, 255);
  height:35px;
  width:90px;
  border-width: 0px;
  margin:8px;

}